<div class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Create, sell and buy awesome videos</h1>
        <p>In VOYC, you can find great videos for whatever you need!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-3 col-xs-6">
        <form action="/videos" method="GET">
          <div class="input-group input-group-lg">

            <span id="magnifier-icon" class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
            <input id="search-box" type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1" name="word">


            <div class="input-group-btn">
              <select name="category" class="btn btn-default dropdown-toggle selectpicker" aria-haspopup="true" aria-expanded="false">
                <option selected>All</option>
                <% @categories.each_with_index do |category, index| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>

              <button id="btn-search" class="btn btn-default" type="submit">Go!</button>
            </div><!-- /btn-group -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="videos-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Newest Videos</h1>
      <% @videos.each do |video| %>
        <div class="col-xs-4">
          <div class="card-index">
            <%= cl_video_tag(video.file.file.public_id) %>

            <!-- Go to details -->
            <%= link_to video_path(video) do %>
              <i class="fa fa-arrow-circle-right" aria-hidden="true""></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

