<div class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Create, sell and buy awesome videos</h1>
        <p>In VOYC, you can find great videos for whatever you need!</p>
      </div>
    </div>
  </div>
</div>

<div class="videos">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Newest Videos</h1>
      <% @videos.each do |video| %>
        <div class="col-xs-4">
          <div class="card-index">
            <%= cl_video_tag(video.file.file.public_id, video_sampling: '5s') %>

            <!-- Go to details -->
            <%= link_to video_path(video) do %>
              <i class="fa fa-arrow-circle-right" aria-hidden="true""></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

