<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="https://unsplash.it/200/50" alt="Create Your Own Video" title="VOYC Home">
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/sign_up" class="grey-header-text">Login</a></li>
      <li><a href="/users/sign_in" class="grey-header-text">Sign Up</a></li>
    </ul>
  </div>
</nav>
