<div class="container-fluid">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-4">
      <div class="buy-videos-wrapper">
        <div id="choosenVideos" class="list-group">
          <div class="holder"></div>
          <% @user.cart_videos.each do |cart_video| %>
          <%# raise %>
            <div class="list-group-item">
              <div class="col-xs-4">
                <%= cl_video_tag(cart_video.video.file.file.public_id) %>
              </div>

              <div class="col-xs-6 text-left">
                <%= cart_video.video.name %>
              </div>

              <div class="col-xs-2 text-right">
                <%= cart_video.video.price %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="buy-videos-wrapper">
        <div id="buyVideos">
          <div class="holder"></div>
        </div>
      </div>
    </div>
  </div>
</div>
