.banner {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('http://res.cloudinary.com/dx1u7zqni/image/upload/v1502309568/1-duhrKEsD4p-jLflboHR5rA_2_ijcppz.gif');
  background-position: center;
  height: 642px;
  color: white;
  text-shadow: 2px 2px black;
  margin-bottom: 30px;
  background-size: cover;

  h1 {
    font-size: 4em;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  p {
    font-size: 1.5em;
  }
}
