video {
  border-radius: 5px;
  max-height: 100%;
  max-width: 100%;
}

/* video container */
.video-show {
  .card {
    padding: 30px 0;
  }

  video {
    height: 500px;
  }
}

.card, .card-index {
  position: relative;
  margin: 20px 0;

  a {
    display: none;
    position: absolute;
    top: 20%;
    margin-left: 40%;

    i {
      font-size: 72px;
      color: rgba(50,50,50,.5);

      &:hover {
        color: rgba(50,50,50,.8);
      }
    }
  }

  &:hover {

    a {
      display: inline-block;
    }
  }
}

.card-index {
  transition: translate .5s ease;

  &:hover {
    transform: translate(0, -10px);
    z-index: 10;
  }
}
