@import "header";
@import "banner";
@import "card";
@import "video-controls";
@import "button";
@import "footer";

.videos h1 {
  font-size: 4em;
  color: black;
  margin-bottom: 25px;
}


.how-to-use-wrapper {

  p {
    font-size: 18px;
  }

  h1 {
    margin-bottom: 50px;
  }

  .how-icon {
    margin: auto;
    margin-bottom: 20px;

    i {
      font-size: 32px;
    }
  }
}
